.appBar{
  display: flex;
  align-items: center;
  height: 44px;
  font-size: 15px;
  z-index: 1;
  color: white;
  h1 {
    display: flex;
    justify-content: center;
    padding-top: 7px;
    flex: 1;
    color: white;
  }
  span {
    padding: 0 20px;
  }
}