.todo{
  flex: 1;
  margin: 0 8px;
  overflow: hidden;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  color: #666;
}
.todo-head {
  display: flex;
  padding: 20px;
  height: 27px;
  justify-content: space-between;
  align-items: flex-start;
  transform: translate3d(0, 0, 0);
  will-change: transform;
}

.todo-body {
  padding: 0 20px;
  transform: translate3d(0, 137px, 0);
  will-change: transform;
}
.todo-icon {
  display: flex;
  width: 44px;
  height: 44px;
  border: 1px solid #ddd;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}
.todo-menu {
  color: #ddd;
}
.todo-tips {
  opacity: 0.6;
  font-size: 13px;
  font-weight: 600;
}
.todo-title {
  margin-top: 6px;
  font-size: 32px;
}
.todo-progress {
  display: flex;
  align-items: center;
  margin-top: 17px;
}
.todo-progress-line {
  margin-right: 10px;
  flex: 1;
  height: 3px;
  background-color: #eee;
  i {
    display: block;
    height: 100%;
    transition: all 0.3s ease;
  }
}
.todo-progress-num {
  font-size: 12px;
}

.todo-tasks-today,
.todo-tasks-done{
  margin-top: 32px;
  margin-bottom: 8px;
  color: #999;
}